USE [POS36_Db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bans]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[KhuVucId] [int] NOT NULL,
	[TenBan] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[MaBan] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Bans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiNhanhs]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanhs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[TenChiNhanh] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ChiNhanhs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
	[TrangThaiMon] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietKiemKes]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietKiemKes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhieuKiemKeId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[TonKhoHienTai] [int] NOT NULL,
	[SoLuongKiemKe] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietKiemKes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhaps]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuaHangs]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenCuaHang] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[NgayDangKy] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CuaHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucs]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[TenDanhMuc] [nvarchar](max) NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_DanhMucs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[ChiNhanhId] [int] NOT NULL,
	[BanId] [int] NOT NULL,
	[NhanVienId] [int] NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgayThanhToan] [datetime2](7) NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HoaDons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[TenKhachHang] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[DiemTichLuy] [int] NOT NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVucs]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVucs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[ChiNhanhId] [int] NOT NULL,
	[TenKhuVuc] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KhuVucs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuKhos]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuKhos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChiNhanhId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[LoaiGiaoDich] [nvarchar](max) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayThucHien] [datetime2](7) NOT NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LichSuKhos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[ChiNhanhId] [int] NULL,
	[MaNhanVien] [nvarchar](max) NOT NULL,
	[TenNhanVien] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKiemKes]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKiemKes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaChungTu] [nvarchar](max) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[ChiNhanhId] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PhieuKiemKes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhaps]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChiNhanhId] [int] NOT NULL,
	[TaiKhoanId] [int] NOT NULL,
	[NgayNhap] [datetime2](7) NOT NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[MaChungTu] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuChis]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuChis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[ChiNhanhId] [int] NOT NULL,
	[MaChungTu] [nvarchar](max) NOT NULL,
	[LoaiPhieu] [nvarchar](max) NOT NULL,
	[PhuongThuc] [nvarchar](max) NOT NULL,
	[NguoiNopNhan] [nvarchar](max) NOT NULL,
	[HangMuc] [nvarchar](max) NOT NULL,
	[LyDo] [nvarchar](max) NOT NULL,
	[GiaTri] [float] NOT NULL,
	[NgayGiaoDich] [datetime2](7) NOT NULL,
	[NguoiTao] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PhieuThuChis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[DanhMucId] [int] NOT NULL,
	[TenSanPham] [nvarchar](max) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[ChiNhanhId] [int] NULL,
	[TenDangNhap] [nvarchar](max) NOT NULL,
	[MatKhauHash] [nvarchar](max) NOT NULL,
	[VaiTro] [nvarchar](max) NOT NULL,
	[NhanVienId] [int] NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToans]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonId] [int] NOT NULL,
	[PhuongThuc] [nvarchar](max) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayThanhToan] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ThanhToans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietLaps]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietLaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuaHangId] [int] NOT NULL,
	[MaThietLap] [nvarchar](max) NOT NULL,
	[DuLieu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ThietLaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKhos]    Script Date: 3/29/2026 11:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKhos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChiNhanhId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_TonKhos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260312163207_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260312170136_NangCap_BanPro', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260318193645_AddHinhAnhToMenu', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[Bans] ON 

INSERT [dbo].[Bans] ([Id], [CuaHangId], [KhuVucId], [TenBan], [TrangThai], [MaBan]) VALUES (1, 4, 1, N'1', N'Trống', N'1')
INSERT [dbo].[Bans] ([Id], [CuaHangId], [KhuVucId], [TenBan], [TrangThai], [MaBan]) VALUES (2, 5, 1, N'2', N'Trống', N'')
INSERT [dbo].[Bans] ([Id], [CuaHangId], [KhuVucId], [TenBan], [TrangThai], [MaBan]) VALUES (3, 5, 1, N'3', N'Trống', N'')
SET IDENTITY_INSERT [dbo].[Bans] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiNhanhs] ON 

INSERT [dbo].[ChiNhanhs] ([Id], [CuaHangId], [TenChiNhanh], [DiaChi]) VALUES (1, 4, N'Chi nhánh 1', N'43 ngô quyền')
INSERT [dbo].[ChiNhanhs] ([Id], [CuaHangId], [TenChiNhanh], [DiaChi]) VALUES (2, 4, N'Chi nhánh 2', N'')
INSERT [dbo].[ChiNhanhs] ([Id], [CuaHangId], [TenChiNhanh], [DiaChi]) VALUES (3, 5, N'Chi nhánh Trung tâm', N'Chưa cập nhật')
SET IDENTITY_INSERT [dbo].[ChiNhanhs] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDons] ON 

INSERT [dbo].[ChiTietHoaDons] ([Id], [HoaDonId], [SanPhamId], [SoLuong], [DonGia], [GhiChu], [TrangThaiMon]) VALUES (1, 1, 1, 1, CAST(15000.00 AS Decimal(18, 2)), N'', N'Đã Xong')
INSERT [dbo].[ChiTietHoaDons] ([Id], [HoaDonId], [SanPhamId], [SoLuong], [DonGia], [GhiChu], [TrangThaiMon]) VALUES (2, 1, 1, 1, CAST(15000.00 AS Decimal(18, 2)), N'', N'Đã Xong')
INSERT [dbo].[ChiTietHoaDons] ([Id], [HoaDonId], [SanPhamId], [SoLuong], [DonGia], [GhiChu], [TrangThaiMon]) VALUES (3, 1, 1, 1, CAST(15000.00 AS Decimal(18, 2)), N'', N'Đã Xong')
SET IDENTITY_INSERT [dbo].[ChiTietHoaDons] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietKiemKes] ON 

INSERT [dbo].[ChiTietKiemKes] ([Id], [PhieuKiemKeId], [SanPhamId], [TonKhoHienTai], [SoLuongKiemKe]) VALUES (1, 1, 1, 99, 98)
SET IDENTITY_INSERT [dbo].[ChiTietKiemKes] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhaps] ON 

INSERT [dbo].[ChiTietPhieuNhaps] ([Id], [PhieuNhapId], [SanPhamId], [SoLuong], [DonGiaNhap]) VALUES (1, 1, 1, 100, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhaps] ([Id], [PhieuNhapId], [SanPhamId], [SoLuong], [DonGiaNhap]) VALUES (2, 2, 1, 99, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhaps] ([Id], [PhieuNhapId], [SanPhamId], [SoLuong], [DonGiaNhap]) VALUES (3, 3, 16, 50, CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhaps] OFF
GO
SET IDENTITY_INSERT [dbo].[CuaHangs] ON 

INSERT [dbo].[CuaHangs] ([Id], [TenCuaHang], [SoDienThoai], [NgayDangKy]) VALUES (1, N'Quán Lẩu Đức Nguyễn', N'0987654321', CAST(N'2026-03-13T00:57:54.1815170' AS DateTime2))
INSERT [dbo].[CuaHangs] ([Id], [TenCuaHang], [SoDienThoai], [NgayDangKy]) VALUES (2, N'Quán Nướng Đức Nguyễn', N'0387114402', CAST(N'2026-03-13T00:58:41.9730847' AS DateTime2))
INSERT [dbo].[CuaHangs] ([Id], [TenCuaHang], [SoDienThoai], [NgayDangKy]) VALUES (3, N'MixiQuan', N'0387114402', CAST(N'2026-03-15T02:15:37.6713187' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CuaHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucs] ON 

INSERT [dbo].[DanhMucs] ([Id], [CuaHangId], [TenDanhMuc], [HinhAnh]) VALUES (1, 1, N'Bia', NULL)
INSERT [dbo].[DanhMucs] ([Id], [CuaHangId], [TenDanhMuc], [HinhAnh]) VALUES (2, 4, N'Nước ngọt', NULL)
INSERT [dbo].[DanhMucs] ([Id], [CuaHangId], [TenDanhMuc], [HinhAnh]) VALUES (3, 4, N'Lẩu', NULL)
SET IDENTITY_INSERT [dbo].[DanhMucs] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDons] ON 

INSERT [dbo].[HoaDons] ([Id], [CuaHangId], [ChiNhanhId], [BanId], [NhanVienId], [NgayTao], [NgayThanhToan], [TongTien], [TrangThai], [PhuongThucThanhToan]) VALUES (1, 4, 1, 1, NULL, CAST(N'2026-03-19T22:21:45.8253913' AS DateTime2), NULL, CAST(45000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'')
INSERT [dbo].[HoaDons] ([Id], [CuaHangId], [ChiNhanhId], [BanId], [NhanVienId], [NgayTao], [NgayThanhToan], [TongTien], [TrangThai], [PhuongThucThanhToan]) VALUES (2, 4, 1, 2, NULL, CAST(N'2026-03-19T23:48:14.9428427' AS DateTime2), NULL, CAST(45000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'')
INSERT [dbo].[HoaDons] ([Id], [CuaHangId], [ChiNhanhId], [BanId], [NhanVienId], [NgayTao], [NgayThanhToan], [TongTien], [TrangThai], [PhuongThucThanhToan]) VALUES (3, 4, 1, 1, NULL, CAST(N'2026-03-20T09:47:44.5693527' AS DateTime2), NULL, CAST(15000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'')
SET IDENTITY_INSERT [dbo].[HoaDons] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuVucs] ON 

INSERT [dbo].[KhuVucs] ([Id], [CuaHangId], [ChiNhanhId], [TenKhuVuc]) VALUES (1, 4, 1, N'cc')
INSERT [dbo].[KhuVucs] ([Id], [CuaHangId], [ChiNhanhId], [TenKhuVuc]) VALUES (2, 5, 3, N'Tầng 1')
INSERT [dbo].[KhuVucs] ([Id], [CuaHangId], [ChiNhanhId], [TenKhuVuc]) VALUES (3, 0, 4, N'tầng 1')
SET IDENTITY_INSERT [dbo].[KhuVucs] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanViens] ON 

INSERT [dbo].[NhanViens] ([Id], [CuaHangId], [ChiNhanhId], [MaNhanVien], [TenNhanVien], [SoDienThoai], [Email]) VALUES (1, 4, NULL, N'NV20263718013703', N'duc', N'0387114402', NULL)
INSERT [dbo].[NhanViens] ([Id], [CuaHangId], [ChiNhanhId], [MaNhanVien], [TenNhanVien], [SoDienThoai], [Email]) VALUES (2, 4, NULL, N'NV20263818013811', N'kiet', N'03871114402', NULL)
INSERT [dbo].[NhanViens] ([Id], [CuaHangId], [ChiNhanhId], [MaNhanVien], [TenNhanVien], [SoDienThoai], [Email]) VALUES (4, 4, 1, N'NV001', N'Dương', N'0398155052', NULL)
SET IDENTITY_INSERT [dbo].[NhanViens] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuKiemKes] ON 

INSERT [dbo].[PhieuKiemKes] ([Id], [MaChungTu], [CuaHangId], [ChiNhanhId], [NgayTao], [TrangThai], [GhiChu]) VALUES (1, N'KK210326-9566', 4, 1, CAST(N'2026-03-21T01:16:01.6629402' AS DateTime2), N'Hoàn thành', N'')
SET IDENTITY_INSERT [dbo].[PhieuKiemKes] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhaps] ON 

INSERT [dbo].[PhieuNhaps] ([Id], [ChiNhanhId], [TaiKhoanId], [NgayNhap], [GhiChu], [CuaHangId], [MaChungTu], [TrangThai]) VALUES (1, 2, 1, CAST(N'2026-03-19T07:52:45.6223625' AS DateTime2), N'', 0, N'', N'')
INSERT [dbo].[PhieuNhaps] ([Id], [ChiNhanhId], [TaiKhoanId], [NgayNhap], [GhiChu], [CuaHangId], [MaChungTu], [TrangThai]) VALUES (2, 1, 1, CAST(N'2026-03-19T07:54:07.4337979' AS DateTime2), N'', 0, N'', N'')
INSERT [dbo].[PhieuNhaps] ([Id], [ChiNhanhId], [TaiKhoanId], [NgayNhap], [GhiChu], [CuaHangId], [MaChungTu], [TrangThai]) VALUES (3, 3, 0, CAST(N'2026-03-23T10:52:29.6668023' AS DateTime2), N'', 5, N'NH2303-9702', N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[PhieuNhaps] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuThuChis] ON 

INSERT [dbo].[PhieuThuChis] ([Id], [CuaHangId], [ChiNhanhId], [MaChungTu], [LoaiPhieu], [PhuongThuc], [NguoiNopNhan], [HangMuc], [LyDo], [GiaTri], [NgayGiaoDich], [NguoiTao]) VALUES (1, 5, 3, N'PT230326-6786', N'Thu', N'Tiền mặt', N'Khách hàng lẻ', N'Thu tiền bán hàng', N'Thanh toán hóa đơn cho bàn 1', 10000, CAST(N'2026-03-23T11:14:22.0725325' AS DateTime2), N'tuananh')
INSERT [dbo].[PhieuThuChis] ([Id], [CuaHangId], [ChiNhanhId], [MaChungTu], [LoaiPhieu], [PhuongThuc], [NguoiNopNhan], [HangMuc], [LyDo], [GiaTri], [NgayGiaoDich], [NguoiTao]) VALUES (2, 5, 3, N'PT230326-3953', N'Thu', N'Tiền mặt', N'Khách hàng lẻ', N'Thu tiền bán hàng', N'Thanh toán hóa đơn cho bàn 1', 22000, CAST(N'2026-03-23T11:17:33.9918849' AS DateTime2), N'tuananh')
INSERT [dbo].[PhieuThuChis] ([Id], [CuaHangId], [ChiNhanhId], [MaChungTu], [LoaiPhieu], [PhuongThuc], [NguoiNopNhan], [HangMuc], [LyDo], [GiaTri], [NgayGiaoDich], [NguoiTao]) VALUES (3, 5, 3, N'PT230326-5320', N'Thu', N'Tiền mặt', N'Khách hàng lẻ', N'Thu tiền bán hàng', N'Thanh toán hóa đơn cho bàn 2', 15000, CAST(N'2026-03-23T23:18:15.0343294' AS DateTime2), N'tuananh')
SET IDENTITY_INSERT [dbo].[PhieuThuChis] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

INSERT [dbo].[SanPhams] ([Id], [CuaHangId], [DanhMucId], [TenSanPham], [GiaBan], [TrangThai], [HinhAnh]) VALUES (1, 4, 2, N'Sting vàng', CAST(15000.00 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[SanPhams] ([Id], [CuaHangId], [DanhMucId], [TenSanPham], [GiaBan], [TrangThai], [HinhAnh]) VALUES (5, 5, 4, N'Cafe', CAST(12000.00 AS Decimal(18, 2)), 1, N'/images/d286752d-cc40-4550-976a-020a1b8971c0_Cafe.jpg')
INSERT [dbo].[SanPhams] ([Id], [CuaHangId], [DanhMucId], [TenSanPham], [GiaBan], [TrangThai], [HinhAnh]) VALUES (6, 5, 4, N'Capuchino', CAST(25000.00 AS Decimal(18, 2)), 1, N'/images/f0c9edda-fb91-4eb5-aa80-06257d8086f3_capuchino.jpg')
SET IDENTITY_INSERT [dbo].[SanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoans] ON 

INSERT [dbo].[TaiKhoans] ([Id], [CuaHangId], [ChiNhanhId], [TenDangNhap], [MatKhauHash], [VaiTro], [NhanVienId]) VALUES (1, 1, NULL, N'admin_lauduc', N'$2a$11$fJfX3Cahq2GdN9DXN8wQs.pIpqWS2wTJKDlsKx6uFtQ9Qv/JxA1wO', N'ChuCuaHang', NULL)
INSERT [dbo].[TaiKhoans] ([Id], [CuaHangId], [ChiNhanhId], [TenDangNhap], [MatKhauHash], [VaiTro], [NhanVienId]) VALUES (2, 2, NULL, N'lauduc', N'$2a$11$kiTTu18rX60na3VCjZLqBehWjB.9UTQZOHo0BOYa44gtFrxjYPsXy', N'ChuCuaHang', NULL)
INSERT [dbo].[TaiKhoans] ([Id], [CuaHangId], [ChiNhanhId], [TenDangNhap], [MatKhauHash], [VaiTro], [NhanVienId]) VALUES (3, 3, NULL, N'adminmixi', N'$2a$11$k/VUh.Z1l.jEtcTdAvQFbeQAvNLEnbyCNCgi/hWK73SzYCxWrZaji', N'ChuCuaHang', NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoans] OFF
GO
SET IDENTITY_INSERT [dbo].[ThietLaps] ON 

INSERT [dbo].[ThietLaps] ([Id], [CuaHangId], [MaThietLap], [DuLieu]) VALUES (1, 5, N'BankConfig', N'{"bankId":"MB","accountNo":"0387114402","accountName":"nguyen tran nhan duc","template":"compact2"}')
SET IDENTITY_INSERT [dbo].[ThietLaps] OFF
GO
SET IDENTITY_INSERT [dbo].[TonKhos] ON 

INSERT [dbo].[TonKhos] ([Id], [ChiNhanhId], [SanPhamId], [SoLuong]) VALUES (1, 2, 1, 100)
INSERT [dbo].[TonKhos] ([Id], [ChiNhanhId], [SanPhamId], [SoLuong]) VALUES (2, 1, 1, 98)
INSERT [dbo].[TonKhos] ([Id], [ChiNhanhId], [SanPhamId], [SoLuong]) VALUES (3, 3, 16, 48)
SET IDENTITY_INSERT [dbo].[TonKhos] OFF
GO
ALTER TABLE [dbo].[Bans] ADD  DEFAULT (N'') FOR [MaBan]
GO
ALTER TABLE [dbo].[HoaDons] ADD  DEFAULT (N'') FOR [PhuongThucThanhToan]
GO
ALTER TABLE [dbo].[PhieuNhaps] ADD  DEFAULT ((0)) FOR [CuaHangId]
GO
ALTER TABLE [dbo].[PhieuNhaps] ADD  DEFAULT (N'') FOR [MaChungTu]
GO
ALTER TABLE [dbo].[PhieuNhaps] ADD  DEFAULT (N'') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Bans]  WITH CHECK ADD  CONSTRAINT [FK_Bans_KhuVucs_KhuVucId] FOREIGN KEY([KhuVucId])
REFERENCES [dbo].[KhuVucs] ([Id])
GO
ALTER TABLE [dbo].[Bans] CHECK CONSTRAINT [FK_Bans_KhuVucs_KhuVucId]
GO
ALTER TABLE [dbo].[ChiNhanhs]  WITH CHECK ADD  CONSTRAINT [FK_ChiNhanhs_CuaHangs_CuaHangId] FOREIGN KEY([CuaHangId])
REFERENCES [dbo].[CuaHangs] ([Id])
GO
ALTER TABLE [dbo].[ChiNhanhs] CHECK CONSTRAINT [FK_ChiNhanhs_CuaHangs_CuaHangId]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_HoaDons_HoaDonId] FOREIGN KEY([HoaDonId])
REFERENCES [dbo].[HoaDons] ([Id])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_HoaDons_HoaDonId]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[ChiTietKiemKes]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietKiemKes_PhieuKiemKes_PhieuKiemKeId] FOREIGN KEY([PhieuKiemKeId])
REFERENCES [dbo].[PhieuKiemKes] ([Id])
GO
ALTER TABLE [dbo].[ChiTietKiemKes] CHECK CONSTRAINT [FK_ChiTietKiemKes_PhieuKiemKes_PhieuKiemKeId]
GO
ALTER TABLE [dbo].[ChiTietKiemKes]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietKiemKes_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[ChiTietKiemKes] CHECK CONSTRAINT [FK_ChiTietKiemKes_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_PhieuNhapId] FOREIGN KEY([PhieuNhapId])
REFERENCES [dbo].[PhieuNhaps] ([Id])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_PhieuNhapId]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhaps_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_ChiTietPhieuNhaps_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_Bans_BanId] FOREIGN KEY([BanId])
REFERENCES [dbo].[Bans] ([Id])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_Bans_BanId]
GO
ALTER TABLE [dbo].[KhuVucs]  WITH CHECK ADD  CONSTRAINT [FK_KhuVucs_ChiNhanhs_ChiNhanhId] FOREIGN KEY([ChiNhanhId])
REFERENCES [dbo].[ChiNhanhs] ([Id])
GO
ALTER TABLE [dbo].[KhuVucs] CHECK CONSTRAINT [FK_KhuVucs_ChiNhanhs_ChiNhanhId]
GO
ALTER TABLE [dbo].[LichSuKhos]  WITH CHECK ADD  CONSTRAINT [FK_LichSuKhos_ChiNhanhs_ChiNhanhId] FOREIGN KEY([ChiNhanhId])
REFERENCES [dbo].[ChiNhanhs] ([Id])
GO
ALTER TABLE [dbo].[LichSuKhos] CHECK CONSTRAINT [FK_LichSuKhos_ChiNhanhs_ChiNhanhId]
GO
ALTER TABLE [dbo].[LichSuKhos]  WITH CHECK ADD  CONSTRAINT [FK_LichSuKhos_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[LichSuKhos] CHECK CONSTRAINT [FK_LichSuKhos_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_NhanViens_ChiNhanhs_ChiNhanhId] FOREIGN KEY([ChiNhanhId])
REFERENCES [dbo].[ChiNhanhs] ([Id])
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_NhanViens_ChiNhanhs_ChiNhanhId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucId] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMucs] ([Id])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucId]
GO
ALTER TABLE [dbo].[TaiKhoans]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoans_ChiNhanhs_ChiNhanhId] FOREIGN KEY([ChiNhanhId])
REFERENCES [dbo].[ChiNhanhs] ([Id])
GO
ALTER TABLE [dbo].[TaiKhoans] CHECK CONSTRAINT [FK_TaiKhoans_ChiNhanhs_ChiNhanhId]
GO
ALTER TABLE [dbo].[TaiKhoans]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoans_CuaHangs_CuaHangId] FOREIGN KEY([CuaHangId])
REFERENCES [dbo].[CuaHangs] ([Id])
GO
ALTER TABLE [dbo].[TaiKhoans] CHECK CONSTRAINT [FK_TaiKhoans_CuaHangs_CuaHangId]
GO
ALTER TABLE [dbo].[TaiKhoans]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoans_NhanViens_NhanVienId] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanViens] ([Id])
GO
ALTER TABLE [dbo].[TaiKhoans] CHECK CONSTRAINT [FK_TaiKhoans_NhanViens_NhanVienId]
GO
ALTER TABLE [dbo].[ThanhToans]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToans_HoaDons_HoaDonId] FOREIGN KEY([HoaDonId])
REFERENCES [dbo].[HoaDons] ([Id])
GO
ALTER TABLE [dbo].[ThanhToans] CHECK CONSTRAINT [FK_ThanhToans_HoaDons_HoaDonId]
GO
ALTER TABLE [dbo].[TonKhos]  WITH CHECK ADD  CONSTRAINT [FK_TonKhos_ChiNhanhs_ChiNhanhId] FOREIGN KEY([ChiNhanhId])
REFERENCES [dbo].[ChiNhanhs] ([Id])
GO
ALTER TABLE [dbo].[TonKhos] CHECK CONSTRAINT [FK_TonKhos_ChiNhanhs_ChiNhanhId]
GO
ALTER TABLE [dbo].[TonKhos]  WITH CHECK ADD  CONSTRAINT [FK_TonKhos_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[TonKhos] CHECK CONSTRAINT [FK_TonKhos_SanPhams_SanPhamId]
GO
